---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import NoteCard from '@/components/NoteCard.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { getNotesByTag, getNoteTags } from '@/lib/data-utils'
import { Icon } from 'astro-icon/components'

export async function getStaticPaths() {
  const noteTags = await getNoteTags()
  const uniqueTags = Array.from(noteTags.keys())

  return Promise.all(
    uniqueTags.map(async (tag) => {
      const notes = await getNotesByTag(tag)
      return {
        params: { id: tag },
        props: {
          tag,
          notes,
        },
      }
    }),
  )
}

const { tag, notes } = Astro.props
---

<Layout class="max-w-3xl">
  <PageHead
    slot="head"
    title={`Notes tagged with "${tag}"`}
    description={`All notes tagged with "${tag}"`}
  />

  <Breadcrumbs
    items={[
      { label: 'Notes', href: '/notes', icon: 'lucide:notepad-text' },
      { label: 'Tags', href: '/notes/tags', icon: 'lucide:tag' },
      { label: tag, icon: 'lucide:hash' },
    ]}
  />

  <div class="flex min-h-[calc(100vh-18rem)] flex-col gap-y-8">
    {
      notes.length > 0 ? (
        <div class="grid gap-4 md:grid-cols-2">
          {notes.map((note) => (
            <NoteCard entry={note} />
          ))}
        </div>
      ) : (
        <div class="py-12 text-center">
          <Icon
            name="lucide:notepad-text"
            class="text-muted-foreground mx-auto mb-4 size-16"
          />
          <h3 class="mb-2 text-xl font-semibold">No notes found</h3>
          <p class="text-muted-foreground">
            No notes with the tag "{tag}" were found.
          </p>
        </div>
      )
    }
  </div>
</Layout>
